
<form action="{{url_for('inventario_bp.download')}}" method="post">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-6">
                {{form.fecha_inicio.label}}
                {{form.fecha_inicio(class='form-control')}}
            </div>
            <div class="col-6">
                {{form.fecha_fin.label}}
                {{form.fecha_fin(class='form-control')}}
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Consultar</button> &nbsp;
                <button type="reset" class="btn btn-primary">Borrar</button>
            </div>
        </div>
    </form>
</div>