<form action="{{url_for('tipos_bp.tipos_edit',id=tipos['id_tipos'])}}" method="post">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12">
                {{form.tipos.label}}
                {{form.tipos(class='form-control')}}
            </div>
        </div>
        <br/>
        <div class="row align-items-center">
            <div class="col-xl-12">
                {{form.tipos_salida.label}}
                {{form.tipos_salida(class='form-control')}}
            </div> 
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Editar</button> &nbsp;
                <button type="reset" class="btn btn-primary">Borrar</button>
            </div>
        </div>
    </form>
</div>