<form action="{{url_for('tipos_bp.tipos_add')}}" method="post">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12">
                {{form.tipos.label}}
                {{form.tipos(class='form-control')}}
            </div>
        </div>
        <br/>
        <div class="row align-items-center">
            <div class="col-xl-12">
                {{form.tipos_salida.label}}
                {{form.tipos_salida(class='form-control')}}
            </div> 
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Registrar</button> &nbsp;
                <button type="reset" class="btn btn-primary">Borrar</button>
            </div>
        </div>
    </form>
</div>
<hr/>

<table class="table text-center table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>
                No
            </th>
            <th>
                Tipos de entradas
            </th>
            <th>
                Tipos de salidas
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        {% for tipos in tipos %}
            {% if tipos %}
                <tr>
                    <td>
                        {{loop.index}}
                    </td>
                    <td>
                        {{tipos['tipos']}}
                    </td>
                    <td>
                        {{tipos['tipos_salida']}}
                    </td>
                    <td>
                        <a href="{{url_for('tipos_bp.tipos_edit',id=tipos['id_tipos'])}}" title="Editar tipos" rel="noopener noreferrer">
                            <i class="fa fa-pen" style="color:mediumseagreen"></i>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Eliminar tipos" data-bs-name="{{tipos['tipos']}}" data-bs-id="{{tipos['id_tipos']}}" href="" rel="noopener noreferrer">
                            <i class="fa fa-trash" style="color:rgb(255, 55, 55)"></i>
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar:
                    <strong>
                        <span></span>
                    </strong>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                seguro que desea borrar el tipo de ingreso?
            </div>
            <div class="modal-footer">
                <a href="#" id="eliminar_tipos" class="btn btn-danger" rel="noopener noreferrer" title="Eliminar">
                    <i class="fa fa-trash"></i>
                    Eliminar</a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    DeleteTipos()
</script>