{{form.id_salida.label}}{{form.id_salida(class='form-control mb-3')}}
{{form.codigo.label}}{{form.codigo(class='form-control mb-3')}}
{{form.nombre_producto.label}}{{form.nombre_producto(class='form-controlmb-3')}}
{{form.descripcion.label}}{{form.descripcion(class='form-control')}}
{{form.no_de_documento.label}}{{form.no_de_documento(class='form-control')}}
{{form.nombre_empleado.label}}{{form.nombre_empleado(class='form-control')}}
{{form.fecha_registro.label}}{{form.fecha_registro(class='form-control mb-3')}}
{{form.cantidad.label}}{{form.cantidad(class='form-control mb-5')}}
