<div class="container">
    <div class="row align-items-start">
        <div class="col"></div>
        <div class="col">
            {{form.tipo_de_cuenta.label}}{{form.tipo_de_cuenta(class='form-control form-control-sm mb-3')}}
{{form.nombre_completo.label}}{{form.nombre_completo(class='form-control form-control-sm mb-3')}}
{{form.Usuario.label}}{{form.Usuario(class='form-control form-control-sm mb-3')}}
{{form.contrasena.label}}{{form.contrasena(class='form-control mb-3')}}
{{form.confirmar_contrasena.label}}{{form.confirmar_contrasena(class='form-control mb-3')}}
        </div>
        <div class="col"></div>
    </div>
</div>
