{% extends 'layout/base.html' %}
{% block title %}
Alta de productos
{% endblock%}
{% block container %}
    {% include 'fragment/_flash.html'%}
    <br>
    <div class="mb-4">
        <form action="{{url_for('alta_catalogo.registrar_catalogo')}}" method="post">
            {% include 'fragment/_catalogo.html'%}
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check"></i>&nbsp;Registrar producto en catalogo</button>
                <button type="reset" class="btn btn-primary">
                    <i class="fas fa-broom"></i>&nbsp;Borrar</button>
            </div>
        </form>
    </div>
{% endblock %}

