<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='bt/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main_sidebar.css') }}">
        <script src="{{ url_for('static',filename='js/modalDelete.js') }}" charset="utf-8"></script>
        <!-- Header -->
        <title>
            {% block title %}
            
            {% endblock %}- Tienda
        </title>
    </head>
    <body>
        <header>
            <div class="container-fluid">
                {% include 'fragment/_nav.html' %}
            </div>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row mb-0">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 d-none d-md-block">
                        {% include 'fragment/_menu.html' %}
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"><br>
                        <div class="card shadow p-3 mb-5 bg-body rounded">
                            <div class="card-body">
                                
                                {% block container %}

                        {% endblock %}
                            </div>
                        </div>
                        
                        </div>
                        <div
                            class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 d-none d-md-block"><!-- Menu derecha -->
                        </div>
                    </div>
                </div>
            </main>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
                </div>
            </div>
            <script src="{{ url_for('static',filename='bt/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ url_for('static',filename='js/main_sidebar.js') }}" charset="utf-8"></script>
        </body>
    </html>
